<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link
      rel="icon"
      href="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Asterisk.svg/819px-Asterisk.svg.png"
    />
      <title>To_Do</title>
  </head>
  <body>
      <div class='alert alert-<%- type %>' role="alert">
        <h4 class="alert-heading"><%- response %></h4>
        <p><%- message1 %></p>
      </div>
      <a  class="btn btn-success mx-4" href='<%- link %>'> Back </button>

  </body>
</html>